body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-logo {
  height: 50px;
  padding: 5px;
}

.App-header {
  background-color: #222;
  height: 64px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-header-right {
  color: white;
  float: right;
}

.App-loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  animation: App-loading-spin infinite 1s linear;
}

@keyframes App-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.SaleItem {
  width: 100%;
  height: 100px;
  clear: both;
  display: flex;
  padding: 10px;
  margin: 30px;
  border-bottom: 1px solid #c1c1c1;
}

.SaleItem-img {
  width: 100px;
}

.SaleItem-name {
  margin: 0;
  color: rgba(0, 0, 0, .91);
}

.SaleItem-description {
  margin: 5px 0;
  color: rgba(0, 0, 0, .70);
}

.SaleItem-price {
  color: #4CAF50;
}

.SaleItem-price>strike {
  color: #FF8A80;
  padding-right: 10px;
}

.SaleItem-details {
  display: flex;
  flex-direction: column;
}
